{% load static %}
{% load my_tags %}
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <!--            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">-->
    <a class="navbar-brand" href="/">
        <img src="https://cdn-icons-png.flaticon.com/512/646/646116.png" alt="Logo" width="30" height="24"
             class="d-inline-block align-text-top">
        <span class="badge rounded-pill bg-light text-dark">{{ user.email }}</span>
        {% if request.user.is_superuser %}
        <span class="badge rounded-pill bg-success">Администратор</span>
        {% elif request.user.is_staff %}
        <span class="badge rounded-pill bg-success">Менеджер</span>
        {% endif %}
    </a>
    <nav class="mt-2 mt-md-0 ms-md-auto">
        <a class="btn btn-warning" href="{% url 'service:main' %}">Главная</a>
        {% if not user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'users:login' %}">Войти</a>
        <a class="btn btn-secondary" href="{% url 'users:register' %}">Регистрация</a>
        {% else %}
        {% if request.user|has_group:"manager" %}
        <a class="btn btn-dark" href="{% url 'service:mailing_list' %}">Все рассылки</a>
        <a class="btn btn-primary" href="{% url 'service:users_table' %}">Все пользователи</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'service:client_list' %}">Мои клиенты</a>
        <a class="btn btn-dark" href="{% url 'service:mailing_list' %}">Мои рассылки</a>
        <a class="btn btn-success" href="{% url 'service:message_list' %}">Мои сообщения</a>
        {% endif %}
        <a class="btn btn-info" href="{% url 'users:profile' %}">Профиль</a>
        <a class="btn btn-danger" href="{% url 'users:logout' %}">Выйти</a>
        {% endif %}
    </nav>
</div>